<div id="index-banner" class="parallax-container events">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h2 class="header col s12 tShadow">Join us for Fit to Hit for Cancer<br>and Pickle Ball Bonanza<br>April
          27th,
          2019<br> 6-9:30pm
          at the Cary Tennis Park</h2>
      </div>
      <div class="row center evTopBtn">
        <a href="http://www.westernwaketennis.com/local-charity-events" id="register-button" class="btn-large waves-effect waves-light orange darken-3">Register
          Here</a>
      </div>
      <div class="row center evTopBtn">
        <a href="https://www.gofundme.com/2018-fit-to-hit-for-cancer" id="gofundme-button" class="btn-large waves-effect waves-light orange darken-3">GoFundMe
          for this Event</a>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="/assets/images/background2.jpg" alt="Unsplashed background img 2">
  </div>
</div>

<div class="container">
  <div class="section">

    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send brown-text"></i></h3>
        <p class="eventRelease">A Warm Hello from the Lickin' Leukemia Team!</P>
<p class="eventRelease">
          We are having our super Cardio tennis event again this year and adding PICKLE BALL TOO!!!!!! As always, Fit
          To Hit for Cancer is and event to remind us that activity, family, laughter and community are all important
          to strengthening the mind, body, soul and family bonds during the cancer journey. This past year, Lickin'
          Leukemia added a spectacular cause, The AYA Program at UNC, with incredible elation from the individuals your
          donations have impacted. Your donations have gone beyond Immunotherapy research to include the AYA Program
          (Adolescent and young Adult) at UNC. These are the teens who are trying to make their way, not only in a
          normal teen age world but one where they have been ripped from their friends, school, growing independence,
          and their family, to where they are now isolated in a place that is either adults or pediatrics. The AYA
          Program understands the needs of the teen population and has incorporated these into the hospital setting
          with gaming areas, quiet and creative spaces, places for teens only, reading research, friends etc.. It's
          different than other hospital environments. AYA identifies individuals for Lickin' Leukemia where we grant
          wishes that help teens connect to their friends (X-Boxes w on-line games while they are in bone marrow
          Isolation), Create memories with family ( GoPro w all attachments to document a family trip after treatment
          or Shopping sprees for clothes when the ravages of treatment causes you to lose 40-50 lbs) The list is
          endless. the beauty of this is our direct connection and speed with which we can act, even if it's christmas
          eve and you are in Isolation, a hotline to the charity works wonders.</p>
        <p class="eventRelease">
          This year <b>Fit To HIT and Pickle Ball Bonanza is on APRIL 27, 2019, from 6pm to 9:30pm.</b> Participants can
          register at <a href="www.weternwaketennis.com/local-charity-events">www.weternwaketennis.com/local-charity-events</a>.
          Registration for individuals in Pickle Ball and
          Cardio Tennis as an individual or team or sponsor a court. you may also go to the website to donate to
          Lickin' Leukemia If you can't participate.</p>
        <p class="eventRelease">
          Please include all your tennis and Pickleball friends. The activity, food, wine, beer, "Not -so-silent"
          Silent Auction, laughter, friendship and Music all make for a different and memorable fundraiser. Attached is
          the flyer, but please use the link above to sign up we have streamlined the process on that link.
        </p>
        <hr class="hrEvents">
        <h5 id="eventsCopy">
          Want to work with us on future events?<br>Have an item or service that you would like to donate to our
          not-so-silent auction?<br>Get in touch with us through the medium of your choice!<br>
        </h5>
        <div class="row center buttons">
          <a href="m.me/LickLeuk" class="btn-large waves-effect waves-light orange darken-3">Facebook</a>
          <a href="https://twitter.com/LickinLeukemia" class="btn-large waves-effect waves-light orange darken-3 buffer">Twitter</a>
        </div>
        <div class="row center">
          <a href="mailto:lickinleukemia@gmail.com" class="btn-large waves-effect waves-light orange darken-3">Email</a>
          <a href="tel:19194543524" class="btn-large waves-effect waves-light orange darken-3 buffer" id="phoneBtn">919.454.3524</a>
        </div>
        <div class="row center">
          <h6>222 Draymore Way<br>Cary, North Carolina 27519</h6>
        </div>
      </div>
    </div>

  </div>
</div>