<div id="index-banner" class="parallax-container events">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12">Join us for Fit to Hit for Cancer<br><br>April 29th, 2017<br><br> 6-10pm at the Cary Tennis Park</h5>
        <div class="row center">
        <a href="https://form.jotform.com/70405999533162" id="register-button" class="btn-large waves-effect waves-light orange darken-3">Register Here</a>
      </div>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="/assets/images/background2.jpg" alt="Unsplashed background img 2">
  </div>
</div>

