  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center orange-text text-darken-3">Lickin' Leukemia</h1>
        <div class="row center">
          <h5 class="header col s12 light">Strengthening bonds and raising funds for immunotherapy research.<br><br>Help someone fight like a TIGER</h5>
        </div>
        <div class="row center">
          <a href="http://materializecss.com/getting-started.html" id="donate-button" class="btn-large waves-effect waves-light orange darken-3">Donate Now</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="./assets/images/background12.jpg" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text darken-2"><i class="material-icons">accessibility</i></h2>
            <h5 class="center">Immunotherapy</h5>

            <p class="light">Immunotherapy, also called biologic therapy, is a type of cancer treatment designed to boost the body's natural defenses to fight the cancer. It uses substances either made by the body or in a laboratory to improve or restore immune system function. Lickin' Leukemia provides financial support to cutting-edge immunotherapy research organizations like </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text darken-2"><i class="material-icons">group</i></h2>
            <h5 class="center">Family Bonds</h5>

            <p class="light">Leukemia manifests within an individual, but the condition affects people. I don't know how to phrase that from here or if the word people will be interpreted the way I intend by those reading it, but yeah, you know. stuff. </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text darken-2"><i class="material-icons">attach_money</i></h2>
            <h5 class="center">Fund Raising</h5>

            <p class="light">100% of what Lickin' Leukemia takes in goes directly to the causes we support.<br>We absorb the program, administrative, and fundraising expenses to make each gift as powerful as the individuals it helps.</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12">A modern responsive front-end framework based on Material Design</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/assets/images/background2.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Contact Us</h4>
          <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/assets/images/background3.jpg" alt="Unsplashed background img 3"></div>
  </div>
