<div id="media-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center VPheader">Videos and Pictures</h1>

      <div class="row center">
        <iframe id="eventVideo" width="560" height="315" src="https://www.youtube.com/embed/nQQBZBIpjmU?wmode=opaque&modestbranding=1&autohide=1&color=white&hd=1&rel=0&controls=0&autoplay=0&enablejsapi=true&wmode=transparent"></iframe>
      </div>
      <div class="row center">

        <div id="mediaSlider">
          <a href="../assets/images/slider/2017_ftf1.jpg">
            <img src="../assets/images/slider/thumbs/2017_ftf1.jpg" />
          </a>
          <a href="../assets/images/slider/2017_ftf2.jpg">
            <img src="../assets/images/slider/thumbs/2017_ftf2.jpg" />
          </a>
          <a href="../assets/images/slider/2017_ftf4.jpg">
            <img src="../assets/images/slider/thumbs/2017_ftf4.jpg" />
          </a>
          <a href="../assets/images/slider/2017_ftf5.jpg">
            <img src="../assets/images/slider/thumbs/2017_ftf5.jpg" />
          </a>
          <a href="../assets/images/slider/2017_ftf6.jpg">
            <img src="../assets/images/slider/thumbs/2017_ftf6.jpg" />
          </a>
          <a href="../assets/images/slider/2017_ftf7.jpg">
            <img src="../assets/images/slider/thumbs/2017_ftf7.jpg" />
          </a>
          <a href="../assets/images/slider/2017_ftf8.jpg">
            <img src="../assets/images/slider/thumbs/2017_ftf8.jpg" />
          </a>
        </div>

      </div>
    </div>
  </div>
</div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.6.6/js/lightgallery-all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.6.6/js/lightgallery.min.js"></script>


{{!-- <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="7XZFU4EB3NER8">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
wmode=opaque&modestbranding=1&autohide=1&color=white&hd=1&rel=0&showinfo=0&controls=0&autoplay=0&enablejsapi=true&wmode=transparent
 --}}


