<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text text-darken-3">News Feed</h1>
      <div class="row center">

      </div>
    </div>
  </div>
  <div class="parallax" id="newsBkg"><img src="./assets/images/proIntro.jpg" alt="Unsplashed background img 1"></div>
</div>

 <script src="https://unpkg.com/vue"></script>
