
body {
  background-image: url('/assets/images/maxresdefault2.jpg');
  background-size: cover;
  /*background-color: #D2EEFF;*/
  background-repeat: no-repeat;
  background-attachment: fixed;
}

main {
  padding-top: 3%;
}
#brandTitle {
  font-family: 'Spinnaker', sans-serif;;
  color: #21244C;
  letter-spacing: 7px;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 28px;
  width: auto;
}
nav {
  background-color: #9499CC;
  font-family: 'Spinnaker', sans-serif;
}
.navbar-nav {
  color: #21244C;
}
.icon-bar {
  color: #21244C;
}


p {
  line-height: 2rem;
  font-family: 'EB Garamond', serif;
  font-size: 17px;
}
a {
  font-family: 'Spinnaker', sans-serif;
  font-size: 20px;
}
label {
  font-family: 'Spinnaker', sans-serif;
  font-size: 17px;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

/*///// Registration Page /////*/
#registration {

}



/*///// Error Page //////*/
#error {

}
/*////// Home Page //////*/
#home {

}
/*////// Index Page //////*/
#index {

}
/*////// Login Page ///////*/
#login {

}
#helperText{
  text-align: center;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
